# Ignore Angular dist folder
/client/dist

# Ignore Angular logs
/client/*.log

# Ignore Angular documentation
/client/doc

# Ignore Angular e2e tests
/client/e2e

# Ignore node_modules folder
/client/node_modules

# Ignore C# build folder
/backend/bin

# Ignore C# obj folder
/backend/obj

# Ignore C# user settings
/backend/*.suo
/backend/*.userprefs
